name: Lint

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  swiftlint:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Show Swift Version
        run: swift --version

      - name: Run SwiftLint
        run: ./scripts/lint.sh
